{% extends 'layout.html' %}

{% block title %}Partie de {{ user_name }}{% endblock %}

{% block content %}

<h2>Partie de {{ user_name }}</h2>
<p>Vies : {{ life }}</p>

{% if secret_word %}
<p>Mot à trouver : <span class="clues">{{ secret_word.upper() }}</span></p>
{% endif %}

{% if user_input and not guess %}
<p>Tentative : {{ user_input.upper() }}</p>
{% endif %}

{% if won %}
<p>Bravo !</p>
{% else %}
<p>Dommage ! Le mot à deviner était <span class="solution">{{ solution.upper() }}</span></p>
{% endif %}
<a href="/reset" class="button">Reset</a>

{% endblock %}